/* In this file you can overwrite/extend the given magpie-styles or declare your own ones */

/* Example of extending a given magpie-style */

/*.magpie-view-stimulus-container {
    height: auto;
    max-height: 350px;
} */

/* Display all titles in red */
/*.magpie-view-title {
    color: red;
}*/

/* Example of declaring your own style */
.custom-border {
   border: 1px solid powderblue;
}

.magpie-view-question-custom {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    line-height: 27px;
    font-family: "Lato", "Noto Sans", sans-serif;
    margin: 30px auto;
    max-width: 550px;
    text-align: left;
}

.magpie-view-stimulus-container-custom {
    height: auto;
    margin: 10px;
    width: auto;
}

.magpie-view-statement {
    color: rgba(0, 0, 0, 0.87);
    font-size: 17px;
    line-height: 27px;
    font-family: "Lato", "Noto Sans", sans-serif;
    margin: 0 auto;
    max-width: 550px;
    padding: 15px;
    border-left: 5px solid black;
    border-radius: 4px;
    background-color: #eee;
}

.magpie-response-sentence-custom {
    background: rgba(49, 74, 139, 0.10);
    border-radius: 5px;
    display: block;
    font-family: "Lato", "Noto Sans", sans-serif;
    font-size: 17px;
    line-height: 27px;
    margin: 5px auto;
    padding: 10px;
    max-width: 550px;
}

.magpie-response-sentence-custom:hover {
    background: rgba(17, 71, 206, 0.3);
    cursor: pointer;
}